<h1></h1> 

<div align="right">
	<a class="btn js-btn" href="/recipes/new">Create New Recipe</a>
</div>
<div class="container">

	<div class="row show-grid" title="ssdsd">

		<div class="span10">

 			
			<img src="/images/HomePagePic.jpg">

		</div>

		<div class="span6">
			 Users
			<div style="height:280px;border:2px solid black;">
			 Users
			</div>

		</div>

	</div>

<div class="span10">

	<t><h3>   Cookin' Feeds</h3>

</div>

	<div class="row show-grid" >
		 <div class="span10">
			   <div style="width:550px;height:500px;border:2px solid black;">
			    Cooking Feeds
			    </div>
		 </div>

		<div class="span6">
			  <div style="height:500px;border:2px solid black;">
			       <ul class="tabs">
			                   
					 <li class="active"><a href="#getTopRecipes">Top Recipes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
					 
					 
					
					 
					 
					 <li><a href="#getNewRecipes">New Recipes</a></li>
					  
				</ul>
				<div class="tab-content">
					<div class="active" id="getTopRecipes">
					  <% @toprecipes.each do |recipe| %>
						   <div class="row">
						   <div class="span1"><img class="thumbnail" src="http://placehold.it/50x50" alt=""></div>
						   <div class="span3"><ul class="unstyled"><li><a href="/recipes/<%= recipe.id%>">	<%= recipe.name %> </a></li> <table><tr><td><img src="/images/UpForkMini.png"/><%= recipe.votes_up %></td><td> <img src="/images/DownForkMini.png"/><%= recipe.votes_down %></td></tr></table> <li></li></ul></div>
					   </div>
					   <% end %> 
					</div>
					
					<div id="getNewRecipes">
					   <% @newrecipes.each do |recipe| %>
					   <div class="row">
						<div class="span1"><img class="thumbnail" src="http://placehold.it/50x50" alt=""></div>
                				<div class="span3"><ul class="unstyled"><li><a href="/recipes/<%= recipe.id%>">	<%= recipe.name %> </a></li> <table><tr><td><img src="/images/UpForkMini.png"/><%= recipe.votes_up %></td><td> <img src="/images/DownForkMini.png"/><%= recipe.votes_down %></td></tr></table> <li></li></ul></div>
					   </div>
					   <% end %> 
					</div>
				</div>
			   </div>
		</div>


</div>





</div>






</div>

