<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :Recipe_name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :Description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :Servings %><br />
    <%= f.text_field :servings %>
  </div>

  <div class="field">
	<%= f.label :preperation_time %> <br />
  		<%= f.text_field :preperationtime %>
	</div>
	
	<div class="field">
	<%= f.label :cooking_time %> <br />
    <%= f.text_field :timetocook %>
  </div>

  
  <h2>Steps</h2> 
  <%= f.fields_for :steps do |builder| %> 
  <p>
    <%= builder.label :Step %> <br />
    <%= builder.text_area :description, :rows => 3 %>
  </p>
    <%= builder.fields_for :ingredients do |cp| %>
    <p>
      <%= cp.label :Ingredient %> <br />
      <%= cp.text_field :name %> 
    </p>
    <% end %>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
