<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :votes_up %><br />
    <%= f.text_field :votes_up %>
  </div>
  <div class="field">
    <%= f.label :votes_down %><br />
    <%= f.text_field :votes_down %>
  </div>
  <div class="field">
    <%= f.label :servings %><br />
    <%= f.text_field :servings %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
