<script type="text/javascript">
$(document).ready(function() {
	$("#step-button").click(function() {
		$("#step_container").append("<div><form action='meh.php'><input type='text' value='meh'><input type='text' value='1'></form><a href='#' class='removeme'>Remove</a></div>");
	});
});
</script>
<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :Recipe_name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :Description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :Servings %><br />
    <%= f.text_field :servings %>
  </div>

  <div class="field">
	<%= f.label :preperation_time %> <br />
  		<%= f.text_field :preperationtime %>
	</div>
	
	<div class="field">
	<%= f.label :cooking_time %> <br />
    <%= f.text_field :timetocook %>
  </div>

  <div id="step_container">
	</div>
	<a href="#" id="step-button">Add Step</a>
  <h2>Steps</h2> 
  <%= f.fields_for :steps do |builder| %> 
	<%= render "step_fields", :f => builder %>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
