<script type="text/javascript">
$(function() {
	$("#metacont").click(function() {
if ($("#recipemeta").is(":visible")) {
		$("#recipemeta").hide("drop",{},"fast",function() {
			$("#ingredcont").show();
		$("#ingredients").show("drop",{},"fast");	
		$("#metacont").text("Back");
	});
	}
	else {
		$("#recipemeta").show("drop",{},"fast",function() {
			$("#metacont").text("Continue");
			$("#ingredcont").hide();
		$("#ingredients").hide("drop",{},"fast");	
	});
	}
		});	


	$("#ingredcont").click(function() {
if ($("#ingredients").is(":visible")) {
		$("#ingredients").hide("drop",{},"fast",function() {
			$("#metacont").hide();
			$("#subbut").show();
		$("#steppy").show("drop",{},"fast");	
		$("#ingredcont").text("Back");
		var ingredhtml = '';
		$('.inline-inputs').each(function(index, el) {
			if ($(el).find('.quantity').val() != '') {
			ingredhtml += '<li class="ingredient"><span class="label">' + $(el).find('.quantity').val() + ' ' + $(el).find('.measurement').val() + ' ' + $(el).find('.ingredientname').val() + '</span><div style="display:none;" class="indetails"><input type="hidden" name="quantitytrash" class="hidquant" value="' + $(el).find('.quantity').val() + '"><input type="hidden" class="hidmeas" name="measurementtrash" value="' + $(el).find('.measurement').val() + '"><input type="hidden" class="hidname" name="ingredientnametrash" value="' + $(el).find('.ingredientname').val() + '"></div></li>';
}

});
		
		$("#stepingredients").html(ingredhtml);
		$( ".ingredient" ).draggable({revert: "invalid"});
	});
	}
	else {
		$("#ingredients").show("drop",{},"fast",function() {
			$("#ingredcont").text("Continue");
			$("#metacont").show();
			$("#subbut").hide();
		$("#steppy").hide("drop",{},"fast");	
	});
	}
		});	

		$(".lastingred input:last").live(
			'focus',function() {
				$(".lastingred").after('<div class="clearfix lastingred"> <div class="input"> <div class="inline-inputs">  <input class="mini quantity" type="number" placeholder="1" name="quantity[]"> <input class="small measurement" type="text" placeholder="cup" name="measurement[]"> <input type="text" placeholder="whole wheat flour" class="ingredientname" name="ingredientname[]"> </div></div> </div>');
          $(this).parent().parent().parent().removeClass("lastingred");
		});
		$(".laststep input").live(
			'focus',function() {
				$(".laststep").after('<tr class="laststep"><td><div class="clearfix stepinput"><div class="input"><input class="xlarge" type="text" name="step[]" placeholder="Combine milk and flour."></div></div></td><td><ul class="unstyled"></ul></td></tr>');
				$(this).parent().parent().parent().parent().removeClass("laststep");
			$( ".stepinput" ).droppable({
			hoverClass: "success",
			drop: function( event, ui ) {
				var stepindex = $(this).parent().parent().index() - 1;

				$(ui.draggable).appendTo($(this).parent().parent().find('td:last > ul')).hide().fadeIn();
				$(this).parent().parent().find('td:last > ul > li:last span').addClass('success');
				$(this).parent().parent().find('td:last > ul > li:last').attr('style','');
				//$(ui.draggable).addClass('success');
			//	$(this).parent().parent().find('td:last > ul').append('<li><span class="label success">' + $(ui.draggable).text() + '</span>' + $(ui.draggable).find('.indetails').html() + '</li>').fadeIn();

				$(this).parent().parent().find('li:last > .hidquant').attr('name','step' + stepindex + 'quantity[]');
				$(this).parent().parent().find('li:last > .hidmeas').attr('name','step' + stepindex + 'measurement[]');
				$(this).parent().parent().find('li:last > .hidname').attr('name','step' + stepindex + 'ingredientname[]');
				$( ".ingredient" ).draggable({revert: "invalid"});
			}
		});
		
		});
	$( ".stepinput" ).droppable({
			hoverClass: "success",
			drop: function( event, ui ) {
				var stepindex = $(this).parent().parent().index() - 1;

				$(ui.draggable).appendTo($(this).parent().parent().find('td:last > ul')).hide().fadeIn();
				$(this).parent().parent().find('td:last > ul > li:last span').addClass('success');
				$(this).parent().parent().find('td:last > ul > li:last').attr('style','');
				//$(ui.draggable).addClass('success');
			//	$(this).parent().parent().find('td:last > ul').append('<li><span class="label success">' + $(ui.draggable).text() + '</span>' + $(ui.draggable).find('.indetails').html() + '</li>').fadeIn();

				$(this).parent().parent().find('li:last > .hidquant').attr('name','step' + stepindex + 'quantity[]');
				$(this).parent().parent().find('li:last > .hidmeas').attr('name','step' + stepindex + 'measurement[]');
				$(this).parent().parent().find('li:last > .hidname').attr('name','step' + stepindex + 'ingredientname[]');
				$( ".ingredient" ).draggable({revert: "invalid"});
			}
		});
	});
</script>
<div class="page-header">
    <h1>Edit Your Recipe</h1>
  </div>
  <div class="span16">
      <form method="PUT" action="/recipes">
        <fieldset>
        <div id="recipemeta">
          <legend style="padding-bottom: 20px;">Tell Us About It</legend>
          <div class="clearfix">
            
            <div class="input">
              <input class="xlarge"  name="recipename" size="30" type="text" value="<%= @recipe.name %>">
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            
            <div class="input">
              <input class="xlarge" name="servings" size="30" type="number" value="<%= @recipe.servings %>">
            </div>
          </div><!-- /clearfix -->
                    <div class="clearfix">
            <div class="input">
              <textarea class="xlarge" id="description" name="description" rows="3"><%= @recipe.description %></textarea>
              <span class="help-block">
                Describe your recipe in a sentence or two.
              </span>
            </div>
          </div><!-- /clearfix -->
          </div>
                 <div id="ingredients" style="display: none;">
          <legend style="padding-bottom: 20px;">What Ingredients Do You Need?</legend>
          <% @recipe.steps.each do |step| %>
          <% step.step_ingredients.each do |singredient| %>
          <div class="clearfix">
            <div class="input">
              <div class="inline-inputs">
                <input class="mini quantity" type="number" value="<%= singredient.quanity %>" name="existingquantity<%= singredient.id %>">
                <input class="small measurement" type="text" value="<%= singredient.measurement %>" name="existingmeasurement<%= singredient.id %>">
                <input type="text" class="ingredientname" value="<%= singredient.ingredient.name %>" name="existingingredientname<%= singredient.id %>">
              </div>
            </div>
          </div><!-- /clearfix -->
           <% end %>
           <% end %>
           <div class="clearfix lastingred">
            <div class="input">
              <div class="inline-inputs">
                <input class="mini quantity" type="number" placeholder="1" name="quantity[]">
                <input class="small measurement" type="text" placeholder="cup" name="measurement[]">
                <input type="text" class="ingredientname" placeholder="whole wheat flour" name="ingredientname[]">
              </div>
            </div>
          </div><!-- /clearfix -->
          </div>

             <div id="steppy" style="display: none;">
             <div class="row">
             <div class="span2"><h3>Ingredients</h3>
             <ul class="unstyled" id="stepingredients"></ul></div>
             <div class="span14">
          <legend style="padding-bottom: 20px;">What Are The Steps?</legend>
          <table>
          <tr><th>Steps</th><th>Assigned Ingredients</th></tr>
          <% @recipe.steps.each do |step| %>
          <tr>
          <td>
              <div class="clearfix stepinput">
              <div class="input">
                <input class="xlarge" type="text" name="step[]" value="<%= step.instruction %>">
                </div>
               </div>
            </td>
            <td>
             <ul class="unstyled">
<% step.step_ingredients.each do |singredient| %>
<li><span class="label success"><%= singredient.quanity %> <%= singredient.measurement %> <%= singredient.ingredient.name %></span>
<input type="hidden" name="step<%= step.id %>quantity<%= singredient.id %>" class="hidquant" value="<%= singredient.quanity %>"><input type="hidden" class="hidmeas" name="step<%= step.id %>measurement<%= singredient.id %>" value="<%= singredient.measurement %>"><input type="hidden" class="hidname" name="step<%= step.id %>ingredientname<%= singredient.id %>" value="<%= singredient.ingredient.name %>">
</li>
<% end %>
             </ul></td>
             </tr>
             <% end %>
                     <tr class="laststep">
          <td>
              <div class="clearfix stepinput">
              <div class="input">
                <input class="xlarge" type="text" name="step[]" placeholder="Combine milk and flour.">
                </div>
               </div>
            </td>
            <td>
             <ul class="unstyled"></ul></td>
             </tr>
             </table>
             </div>
             </div>
             </div>
        
       <div class="actions">
<button onclick="return false;" class="btn" id="metacont">Continue</button>&nbsp;<button onclick="return false;" class="btn" id="ingredcont" style="display: none;">Continue</button>&nbsp;<input id="subbut" type="submit" style="display: none;" class="btn primary" value="Post Recipe">
          </div>
          </fieldset>
      </form>
    </div>