<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>User:</b>
  <%= @recipe.user_id %>
</p>

<p>
  <b>Parent:</b>
  <%= @recipe.parent_id %>
</p>

<p>
  <b>Votes up:</b>
  <%= @recipe.votes_up %>
</p>

<p>
  <b>Votes down:</b>
  <%= @recipe.votes_down %>
</p>

<p>
  <b>Servings:</b>
  <%= @recipe.servings %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
