<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @step.description %>
</p>

<p>
  <b>Recipe:</b>
  <%= @step.recipe_id %>
</p>

<p>
  <b>Seq:</b>
  <%= @step.seq %>
</p>


<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
